.footer{
    max-width: 100%;
    border-top: 2px solid rgba(49, 49, 49, 0.486);
    padding: 1em 1em;
    margin-top: 6em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    .brand{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 2em;
        .brand-name{
            a{
                text-decoration: none;
                color: #2d6cdf;
            }
            p{
                font-size: 0.75rem;
                font-weight: 500;
                margin: 1em 0;
                span{
                    font-size: 0.9rem;
                    margin: 0 .2em;
                    color: #2d6cdf;
                }
                #signature {
                    font-style: italic;
                    color: rgba(255, 255, 255, 0.753);
                }
            }
        }
    }
    .copyright{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.75rem;
        font-weight: 600;
        img{
            margin-top: 1em;
            margin-bottom: 1em;
            width: 85px;
        }
    }
}

@media screen and (min-width: 1024px){
    .footer-open{
        margin-left: 20%;
    }
}