.upcoming {
    margin-top: 2em;
    transition: all 0.6s ease;
    max-width: 100%;
    overflow: hidden;
    .upcoming-movies{
        .movies-title{
            padding: .8em 0;
            margin-bottom: 1em;
            h1{
                color: rgb(255, 255, 255);
                font-size: 1.1em;
            }
        }
    }
    .upcoming-movies-list, .upcoming-series-list{
        width: 100%;
        min-height: 80vh;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 0.8fr));
        grid-column-gap: 1rem;
        grid-row-gap: 3rem;
    }
}

@media screen and (min-width: 1024px){
    .upcoming-open{
        margin-left: 20%;
    }
}